#hero {
    color: white;
    background-size: cover;
    background: url('../image/fitness-main.jpg') center;
    text-align: center;
}

#hero nav ul {
    display: flex;
    gap: 70px;
    justify-content: end;
    padding: 30px;
}
#hero nav ul li{
    cursor: pointer ;
}

#hero h1 {
    margin-top: 10%
}

.site-main #hero > *:last-child {
    margin-bottom: 10%;
}
