ul li {
    display: inline-block;
}
a{
    background-color: lightgray;
    padding: 5px;
    border-radius: 50%;
}
.fa-brands{
    color:black;
}
.fa-square-facebook:hover{
    color: royalblue;
}
.fa-twitter:hover{
    color:deepskyblue;
}
.fa-google-plus:hover{
    color: darkred;
}
.fa-linkedin:hover{
    color: cadetblue;
}
.fa-instagram:hover{
    color: cadetblue;
}