img {
    position: relative;
    display: block;
    /*width: 100%;*/
    /*height: 100vh;*/

}

h1 {
    z-index: 1;
    position: absolute;
    top: 60px;
    left: 180px;
    color: antiquewhite;
    text-shadow: 1px 1px 20px black;
}
